  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .app-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  @media screen and (max-width: 768px) {
    .app-container {
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    .clear-container {
      order: 0;
      width: 276px;
      align-self: center;
    }

    .board-container {
      order: 1;
    }

    .word-container {
      order: 2;
      align-self: center;
      width: 276px;
    }
  }

  .board-container {
    align-self: center;
    min-width: 172px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .square {
    background-image: linear-gradient(#f4cf6e, #e67538);
    border: 1px solid #bf3e46;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    height: 65px;
    width: 65px;
    margin: 4px;
    border-radius: 15%;
  }

  .square-selected {
    background-image: linear-gradient(#e25c63, #921d22);
    border: 1px solid #bf3e46;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    height: 65px;
    width: 65px;
    margin: 4px;
    border-radius: 15%;
  }

  .tools-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    justify-content: space-between;
  }

  .clear-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 4px;
    padding: 8px;
    min-height: 45px;
  }

  .clear-label {
    color: #d8d8d8;
    font-size: 12px;
  }

  .clear-button {
    background-color: #d8d8d8;
    margin-left: 5px;
    border: 1px solid #d8d8d8;
    color: #fff;
    border-radius: 100%;
    font-size: 20px;
    font-weight: lighter;
  }
  .clear-button::before {
    content: "X";
  }

  .word-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 4px;
    padding: 8px;
    min-height: 45px;
    border: 1px solid #bf3e46;
  }

  .word {
    display: flex;
    flex: 1;
    align-self: flex-end;
    align-self: center;
    align-items: center;
    color: #921d22;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bolder
  }

  .word-result {
    margin-left: 20px;
    display: flex;
    align-self: center;
    align-items: center;
    color: #92d048;
    font-size: 15px;
    font-weight: bold;
  }
